<link rel="stylesheet" href="../css/{{function}}.css">
<div>
    <div class="sectionleft">
        <div class="image">
            <img src="{{icon}}" id="icon_img">
        </div>
        <h4 class="username">{{username}}</h4>
        <p class="solgan">{{solgan}}</p>
        <form action="/index"><button id="post">Post</button></form>
        <form action="/index/group"><button id="group">Group</button></form>
        <form action="/index/follower"><button id="follower">Follower</button></form>
        <form action="/index/chatroom"><button id="chatroom">Chatroom</button></form>
        <form action="/setting"><button>Setting</button></form>
    </div>
    <div class="sectionright">
        
        <div id="Follower" class="tabcontent">
            <h3>Follower</h3>
            <p>Follower List</p>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://cdn.socket.io/4.4.0/socket.io.js"></script>
<script src="../js/{{function}}.js"></script>