<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12" id="user_icon">
            <img src="../../../image/uploaded/userIcon_{{id}}.png" alt="user_{{id}}_icon">
        </div>
        <div class="col-12" id="user_info">
            <p>Username : {{username}}</p>
            <p>Gender : {{gender}}</p>
            <p>Birthday : {{birthday}}</p>
            <p>Location : {{country}}</p>
            <p>Slogan : {{slogan}}</p>
        </div>
        <div class="col-12" id="relation_btn">
            <div class="row">
                <div id="warpper">
                    <a class="col-6 btn {{relation}}" href="" id="profile_{{relation}}_btn">{{relation}}</a>
                    <a class="col-6 btn Block" href="" id="profile_Block_btn">Block</a>
                </div>
            </div>
        </div>
    </div>
</div>