<div class="container-fluid">
    <div class="row text-center">
        <div class="col-xl-3 col-lg-12" id="info_page">
            <div class="col-12" id="icon_btn">
                <div class="wrapper">
                    <div class="image">
                        <img src="{{icon}}" id="icon_img" hidden>
                    </div>
                    <div class="content">
                        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                        <div class="text">No file chosen, yet!</div>
                    </div>
                    <div id="icon_cancel_btn"><i class="fas fa-times"></i></div>
                    <div class="file_name">File name</div>
                </div>
                <input type="file" id="default_btn" hidden>
                <button class="btn" id="custom_btn">Upload icon</button>
            </div>
            <div class="col-12 message" id="userIdNumber">
                <p id="userId">Id : {{userId}}</p>
                <p id="email">email : {{email}}</p>
            </div>
            <div class="row">
                <div class="col-6 subscriber" id="subscriber">
                    <a class="btn" type="file" href="#" id="subscriber_list_btn"><span>0</span>Subscriber</a>
                </div>
                <div class="col-6 subscriber" id="follower">

                    <a class="btn" href="#" id="follower_list_btn"><span>0</span>Follower</a>
                </div>
            </div>
            <div class="col-12" id="darkMode" hidden>
                <div class="col-6 info">
                    <p>Dark Mode</p>
                </div>
                <div class="col-6"> <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="col-12 info" id="userName">
                <div class="row">
                    <div class="col-6">
                        <p id="currentUsername">{{username}}</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="edit_username_btn">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info" id="password">
                <div class="row">
                    <div class="col-6">
                        <p id="currentPassword" type="password">********</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="edit_passoword_btn">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info" id="gender">
                <div class="row">
                    <div class="col-6">
                        <p id="currentGender">{{gender}}</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="edit_gender_btn">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info" id="birthday">
                <div class="row">
                    <div class="col-6">
                        <p id="currentBrithday">{{birthday}}</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="edit_birthday_btn">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info" id="country">
                <div class="row">
                    <div class="col-6">
                        <p id="currentContry">{{country}}</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="edit_country_btn">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info">
                <div class="row">
                    <div class="col-6">
                        <a class="btn album" href="#" id="album_btn">Album<i class="fas fa-images"></i></a>
                    </div>
                    <div class="col-6">
                        <a class="btn group" href="#" id="group_btn">Group<i class="fas fa-users"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 message" id="joinDate">
                <p id="joinDay">Join : {{joinDate}}</p>
            </div>
            <div class="col-12">
                <form>
                    <input class="form-control" type="text" placeholder="{{solgan}}" id="solgan_input"
                        value="{{solgan}}">
                </form>
            </div>
        </div>
        <div class="col-xl-9 col-lg-12" id="edit_page">
            <section id="edit_title">
                <h2 class="editing">Ablum</h2>
                <div class="alert hidden">
                    <span class="fas fa-exclamation-circle"></span>
                    <span class="alert_msg"></span>
                    <span class="alert_close_btn">
                        <span class="fas fa-times"></span>
                    </span>
                </div>
                <div class="alert_success hidden">
                    <span class="fas fa-exclamation-circle"></span>
                    <span class="alert_success_msg">Editing success!</span>
                    <span class="alert_success_close_btn">
                        <span class="fas fa-times"></span>
                    </span>
                </div>
            </section>
            <section id="subscriber_list" hidden>
                <div class="row">
                    <div class="col-8">
                        <a class="btn" href="#" id="subscriber_btn">
                            <div class="row">
                                <div class="col-6">
                                    <img src="../../../image/btn/logo_btn.png" alt="subscriber_icon"
                                        id="subscriber_icon">
                                </div>
                                <div class="col-6">
                                    <p id="subscriber_name">ZeWai</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4" id="unfollow_btn">
                        <a class="btn cancel" href="#">Unfollow</a>
                    </div>
                </div>
            </section>
            <section id="follower_list" hidden>
                <div class="row">
                    <div class="col-8">
                        <a class="btn" href="#" id="follower_btn">
                            <div class="row">
                                <div class="col-6">
                                    <img src="../../../image/btn/logo_btn.png" alt="follower_icon" id="follower_icon">
                                </div>
                                <div class="col-6">
                                    <p id="follower_name">Ivan</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4" id="remove_follow_btn">
                        <div class="row">
                            <div class="col-6" id="follow_btn">
                                <a class="btn follow" href="#">Follow</a>
                            </div>
                            <div class="col-6" id="remove_btn">
                                <a class="btn cancel" href="#">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="edit_password_verify" hidden>
                <form>
                    <input class="form-control edit_input" type="password" placeholder="Enter password"
                        id="password_verify">
                </form>
            </section>
            <section id="edit_username" hidden>
                <form>
                    <input class="form-control edit_input" type="text"
                        placeholder="Enter not less than 6 characters new username..." id="new_username">
                </form>
            </section>
            <section id="edit_password" hidden>
                <form>
                    <div>
                        <input class="form-control edit_input" type="password"
                            placeholder="Enter not less than 8 characters new password..." id="new_password">
                        <input class="form-control edit_input" type="password" placeholder="Confirm new password"
                            id="confirm_new_password">
                    </div>
                </form>
            </section>
            <section id="edit_gender" hidden>
                <form>
                    <input class="form-control edit_input" list="gender-list" type="text" placeholder="Select gender"
                        id="new_gender">
                    <datalist id="gender-list">
                        <option value="Male">
                        <option value="Female">
                        <option value="Group">
                    </datalist>
                </form>
            </section>
            <section id="edit_birthday" hidden>
                <form>
                    <input class="form-control edit_input" type="date" id="new_birthday" name="trip-start">
                </form>
            </section>
            <section id="edit_country" hidden>
                <form>
                    <input class="form-control edit_input" list="country-list" type="text" placeholder="Select country"
                        id="new_country">
                    <datalist id="country-list"></datalist>
                </form>
            </section>
            <section id="album_list" hidden>
                <ul class="row" id="album_ul"></ul>
            </section>
            <section id="edit_submit" hidden>
                <a class="btn submit" href="#" id="edit_submit_btn">Submit<i class="fas fa-paper-plane"></i></a>
                <a class="btn cancel" href="#" id="edit_cancel_btn">Cancel<i class="fas fa-trash-alt"></i></a>
            </section>
            <section id="create_group" hidden>
                <form class="row text-center">
                    <div id="group_input">
                        <div class="colum">
                            <input class="form-control edit_input col-12" type="text" placeholder="Enter group email"
                                id="group_email">
                            <input class="form-control edit_input col-12" type="password"
                                placeholder="Enter not less than 6 characters group name" id="group_name">
                            <input class="form-control edit_input col-12" type="text"
                                placeholder="Enter not less than 8 characters password" id="group_password">
                            <input class="form-control edit_input col-12" list="country-list" type="text"
                                placeholder="Select country" id="group_location">
                            <datalist id="country-list"></datalist>
                            <input class="form-control col-12" type="text" placeholder="Entry group introduction..."
                                id="group_solgan">
                        </div>
                    </div>
                    <div>
                        <a class="btn submit col-12" href="#" id="group_submit_btn">Submit<i
                                class="fas fa-paper-plane"></i></a>
                        <a class="btn cancel" href="#" id="group_cancel_btn">Cancel<i class="fas fa-trash-alt"></i></a>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>